* {
    margin: 0 auto;
    box-sizing: border-box;
}
body {
    background-color: rgb(14, 13, 13);
}
.container {
    max-width: 1440px;
}
.nav {
    display: flex;
    justify-content: flex-start;
    padding: 20px;
}
.nav_menu {
    text-decoration: none;
    color: rgb(196, 92, 7);
    margin: 0 20px 0 0;
    font-size: 16px;
    line-height: 20px;
}
h1 {
    padding-top: 50px;
    color: rgb(196, 92, 7);
    text-align: center;
    font-size: 48px;
    line-height: 80px;
    font-weight: bold;
}
h2 {
    padding-top: 50px;
    color: rgb(196, 92, 7);
    text-align: center;
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 80px;
}
.description {
    padding-top: 50px;
    color: rgb(196, 92, 7);
    text-align: center;
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 30px;
}
.cards {
    display: flex;
    margin-top: 50px;
}
.card {
    width: 400px;
    border: 5px solid rgb(196, 92, 7);
    margin-left: 10px;
}
.card-margin-left {
    margin-right: 10px;
}

img {
    width: 100%;
}
h3 {
    padding-top: 10px;
    color: rgb(196, 92, 7);
    text-align: center;
}
.card-description {
    color: rgb(196, 92, 7);
    text-align: center;
    padding: 10px;
}
.footer {
    display: flex;
    margin-top: 50px;
}
.copy {
    color: rgb(196, 92, 7);
    text-align: left;
}

.form {
    color: rgb(196, 92, 7);
    border: 2px solid rgb(196, 92, 7);
    border-radius: 5px;
    margin-bottom: 5px;
    background-color: rgb(14, 13, 13);
}
.form::placeholder {
    color: rgb(196, 92, 7);
}

.form-button {
    width: 47%;
    margin-right: 5px;
}
.form-button-margin-righ {
    margin-right: 0;
}
